.performance-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #c2d4de;
  max-width: 85%;
  max-height: 85%;
  font-family: 'Roboto', sans-serif;
  margin: 100px;;
}

.performance-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #141414; 
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-container select {
  padding: 8px 15px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #202c37;
  cursor: pointer;
  transition: border 0.3s ease-in-out;
}

.filter-container select:hover {
  border-color: #2196f3;
}

.chart-container {
  width: 50%;
  height: 350px; 
  background-color: #d6e7ef;
  padding: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
  margin-left: 340px;
}

.chart-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #1c1e20;
  margin-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
}

.performance-summary {
  display: flex;
  padding: 15px;
  justify-content: space-around;
  margin-bottom: 50px;
  font-size: 0.8rem;
  color: #302c2c;
}

.performance-summary div {
  text-align: center;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.performance-summary div:nth-child(odd) {
  background-color: #e3f2fd;
}

.performance-summary div:nth-child(even) {
  background-color: #c8e6c9;
}

.leaderboard {
  background-color: #d5e4ec;
  padding: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
}

.leaderboard h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #242628;
  margin-bottom: 20px;
  text-align: center;
}

.leaderboard ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.leaderboard li {
  font-size: 1.1rem;
  padding: 10px;
  background-color: #fafafa;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaderboard li:last-child {
  margin-bottom: 0;
}

.leaderboard li span {
  font-weight: bold;
}

@media (max-width: 768px) {
  .performance-summary {
    flex-direction: column;
    align-items: center;
  }

  .performance-title {
    font-size: 2rem;
  }

  .chart-container {
    height: 350px;
  }

  .performance-summary div {
    margin-bottom: 15px;
  }
}
