.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5d718c;
    color: rgb(37, 35, 33);
    border-radius: 1rem;
    padding: 1rem 1rem;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .topbar-left {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #d2d8f2, transparent) !important;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 1em;
    padding: 0.5rem 1.5rem;
  }
  
  .menu-icon {
    font-size: 1.4rem;
    margin-left:0.01rem;
    cursor: pointer;
  }
  
  .topbar-logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    gap: 0.8rem; 
    transition: all 0.3s ease-in-out; 
  }
  
  .logo-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #d9dde2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .logo-img:hover {
    transform: scale(1.1); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
  }
  
  .logo-text {
    font-size: 1.8rem; 
    font-weight: bold;
    color: #322923; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
    letter-spacing: 0.5px; 
    transition: color 0.3s ease; 
  }
  
  .logo-text:hover {
    color: #acbbca; 
  }
  
  
  .topbar-right {
    display: flex;
    align-items: center;
  }
  
  .status-icon {
    font-size: 1rem;
    margin-right: 1rem;
    color: green;
  }
  
  .notification-icon,
  .user-icon {
    font-size: 1.3rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .notification-icon:hover,
  .user-icon:hover {
    color: #9791b4;
  }

  .profile-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #44445e;
    color: #eddddd;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .profile-container {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
  .profile-picture img {
    border: 2px solid #03dac6;
    object-fit: cover;
  }
  
  .profile-details p {
    margin: 5px 0;
  }
  
  